<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="bg-white guest">
        <div class="px-8 mx-auto max-w-7xl">
            <div class="flex items-center justify-between h-16">
                <div class="flex items-center">
                    <div class="translate-y-[3px] w-32">
                        <img th:src="@{/images/logo/FurnitureDark.svg}" alt="Logo" />
                    </div>
                    <div class="hidden md:block">
                        <div class="flex items-baseline ml-10 space-x-4">
                            <a href="/admin"
                                class="text-gray-500 hover:text-black px-3 py-2 rounded-md text-sm font-medium">Products</a>
                            <a href="/orderManagement"
                                class="text-gray-500 hover:text-black px-3 py-2 rounded-md text-sm font-medium">Orders</a>
                        </div>
                    </div>
                </div>

                <div class="block">
                    <div class="flex items-center ml-4 md:ml-6">
                        <div class="relative ml-3">
                            <div class="relative inline-block text-left">
                                <button type="button"
                                    class="flex items-center justify-center w-full rounded-md px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50"
                                    id="options-menu">
                                    <svg width="20" fill="currentColor" height="20" class="text-gray-800"
                                        viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1523 1339q-22-155-87.5-257.5t-184.5-118.5q-67 74-159.5 115.5t-195.5 41.5-195.5-41.5-159.5-115.5q-119 16-184.5 118.5t-87.5 257.5q106 150 271 237.5t356 87.5 356-87.5 271-237.5zm-243-699q0-159-112.5-271.5t-271.5-112.5-271.5 112.5-112.5 271.5 112.5 271.5 271.5 112.5 271.5-112.5 112.5-271.5zm512 256q0 182-71 347.5t-190.5 286-285.5 191.5-349 71q-182 0-348-71t-286-191-191-286-71-348 71-348 191-286 286-191 348-71 348 71 286 191 191 286 71 348z">
                                        </path>
                                    </svg>
                                </button>
                                <div
                                    class="absolute hidden z-50 right-0 w-56 mt-2 origin-top-right bg-white rounded-md shadow-2xl">
                                    <div class="py-1" role="menu" aria-orientation="vertical">
                                        <a href="/#"
                                            class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100">Settings</a>
                                        <a href="/#"
                                            class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100">Account</a>
                                        <form
                                            class="block px-4 py-2 text-md text-gray-700 hover:bg-gray-100 cursor-pointer"
                                            th:action="@{/logout}" method="post">
                                            <button class="w-full cursor-pointer" type="submit">Logout</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div layout:fragment="content">
        <!-- content page will override this -->
    </div>

    <footer class="w-full bg-black px-[85px] pt-[80px] pb-[32px]">
        <div class="text-[#E8ECEF] flex justify-between border-b border-[#6C7275]">
            <div class="flex gap-8 pb-12">
                <div class="-translate-y-[5px] w-[104px] h-10">
                    <img th:src="@{/images/logo/FurnitureLight.svg}" alt="Logo" />
                </div>
                <div class="w-[1px] h-6 bg-[#6C7275]"></div>
                <p>Gift & Decoration Store</p>
            </div>
        </div>
        <div class="flex justify-between items-center my-4">
            <div class="flex gap-7 text-[12px]">
                <p class="text-[#E8ECEF]">Copyright © 2023 3legant. All rights reserved</p>
                <a class="text-white" th:href="@{/privacy-policy}">Privacy Policy</a>
                <a class="text-white" th:href="@{/terms-of-use}">Terms of Use</a>
            </div>
            <div class="flex gap-6">
                <img src="/icons/instagram.svg" alt="Instagram" width="24" height="24" />
                <img src="/icons/facebook.svg" alt="Facebook" width="24" height="24" />
                <img src="/icons/youtube.svg" alt="YouTube" width="24" height="24" />
            </div>
        </div>
    </footer>
    <script>
        document.getElementById('options-menu').addEventListener('click', function () {
            var menu = this.nextElementSibling; // Lấy menu liên quan
            menu.classList.toggle('hidden');
        });
    </script>

</body>

</html>