<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="_layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div layout:fragment="content" class="container">
        <!-- Slide -->
        <div class="flex justify-center items-center min-h-screen">
            <div class="w-full mb-20">
                <div class="relative w-full h-[536px] overflow-hidden group">
                    <div id="slider" class="slider transition-all duration-1000 flex w-full h-full">
                        <img class="min-w-full h-full object-cover"
                            src="https://images.pexels.com/photos/1571460/pexels-photo-1571460.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="" />
                        <img class="min-w-full h-full object-cover"
                            src="https://images.pexels.com/photos/1643383/pexels-photo-1643383.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="" />
                        <img class="min-w-full h-full object-cover"
                            src="https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                            alt="" />
                    </div>
                    <button onclick="prevSlide()"
                        class="absolute left-5 top-1/2 transform -translate-y-1/2 bg-white w-[52px] h-[52px] rounded-full cursor-pointer opacity-30 hover:opacity-100">&#10094;</button>
                    <button onclick="nextSlide()"
                        class="absolute right-5 top-1/2 transform -translate-y-1/2 bg-white w-[52px] h-[52px] rounded-full cursor-pointer opacity-30 hover:opacity-100">&#10095;</button>
                </div>
                <div class="flex items-center px-[85px] mt-8 font-sans">
                    <h1 class="text-7xl">Simply Unique/ Simply Better.</h1>
                    <p class="text-gray-600 ml-4"><b class="text-black">3legant</b> is a gift & decorations store based
                        in HCMC, Vietnam. Est since 2019.</p>
                </div>
            </div>
        </div>

        <div class="flex w-full h-[664px] px-[85px] gap-6">
            <!-- Left section -->
            <div class="relative w-1/2 h-full">
                <img class="w-full h-full object-contain" th:src="@{/images/sofa.png}" alt="Living Room" />
                <div class="absolute top-12 left-12 mb-10 ">
                    <h1 class="text-[34px]">Living Room</h1>
                    <a href="/shop" class="flex items-center w-fit h-[28px] text-[16px] border-b border-black">
                        Shop now
                        <div class="w-5">
                            &#10132;
                        </div>
                    </a>
                </div>
            </div>

            <!-- Right section -->
            <div class="w-1/2 h-full flex flex-col gap-6">
                <!-- Bedroom -->
                <div class="relative w-full h-1/2 overflow-hidden">
                    <img class="w-full h-full object-contain" th:src="@{/images/bedside-cabinet.png}" alt="Bedroom" />
                    <div class="absolute bottom-10 left-8 ">
                        <h1 class="text-[34px]">Bedroom</h1>
                        <a href="/shop" class="flex items-center w-fit h-[28px] text-[16px] border-b border-black">
                            Shop now
                            <div class="w-5">
                                &#10132;
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Kitchen -->
                <div class="relative w-full h-1/2 overflow-hidden">
                    <img class="w-full h-full object-contain" th:src="@{/images/microwave.png}" alt="Kitchen" />
                    <div class="absolute bottom-10 left-8 ">
                        <h1 class="text-[34px]">Kitchen</h1>
                        <a href="/shop" class="flex items-center w-fit h-[28px] text-[16px] border-b border-black">
                            Shop now
                            <div class="w-5">
                                &#10132;
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-full overflow-hidden pl-[85px]">
            <div class="flex justify-between pr-[85px] items-center">
                <h1 class="my-12 text-[40px]">New Arrivals</h1>
                <a class="border-b border-black font-[500]" href="/shop">More Products &#10132;</a>
            </div>
            <div class="w-full mt-10 flex gap-4 flex-wrap">
                <a th:href="@{/product/{id}(id=${product.id})}" th:each="product : ${products}"
                    class="product-item block hover:shadow-2xl hover:scale-[101%] h-[460px] w-[260px] border border-gray-200 cursor-pointer">
                    <div class="relative flex flex-col items-center justify-end pt-6 bg-[#F3F5F7] w-full h-[350px] ">
                        <img class="absolute top-10 w-full h-auto" th:src="@{/images/{file}(file=${product.image})}"
                            alt="Error Image" />
                        <div
                            class="absolute bg-white top-4 left-4 w-[66px] h-[24px] rounded-sm text-center text-base font-bold uppercase">
                            New
                        </div>
                    </div>
                    <div class="w-full mt-3 ml-4">
                        <div class="flex">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path
                                    d="M7.53834 1.10997C7.70914 0.699319 8.29086 0.699318 8.46166 1.10996L9.99874 4.80556C10.0707 4.97868 10.2336 5.09696 10.4204 5.11194L14.4102 5.4318C14.8535 5.46734 15.0332 6.02059 14.6955 6.30993L11.6557 8.91378C11.5133 9.03576 11.4512 9.22715 11.4947 9.40952L12.4234 13.3028C12.5265 13.7354 12.0559 14.0773 11.6764 13.8455L8.26063 11.7592C8.10062 11.6615 7.89938 11.6615 7.73937 11.7592L4.32363 13.8455C3.94408 14.0773 3.47345 13.7354 3.57665 13.3028L4.50534 9.40952C4.54884 9.22715 4.48665 9.03576 4.34426 8.91378L1.30453 6.30993C0.966758 6.02059 1.14652 5.46734 1.58985 5.4318L5.57955 5.11194C5.76645 5.09696 5.92925 4.97868 6.00126 4.80556L7.53834 1.10997Z"
                                    fill="#343839" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path
                                    d="M7.53834 1.10997C7.70914 0.699319 8.29086 0.699318 8.46166 1.10996L9.99874 4.80556C10.0707 4.97868 10.2336 5.09696 10.4204 5.11194L14.4102 5.4318C14.8535 5.46734 15.0332 6.02059 14.6955 6.30993L11.6557 8.91378C11.5133 9.03576 11.4512 9.22715 11.4947 9.40952L12.4234 13.3028C12.5265 13.7354 12.0559 14.0773 11.6764 13.8455L8.26063 11.7592C8.10062 11.6615 7.89938 11.6615 7.73937 11.7592L4.32363 13.8455C3.94408 14.0773 3.47345 13.7354 3.57665 13.3028L4.50534 9.40952C4.54884 9.22715 4.48665 9.03576 4.34426 8.91378L1.30453 6.30993C0.966758 6.02059 1.14652 5.46734 1.58985 5.4318L5.57955 5.11194C5.76645 5.09696 5.92925 4.97868 6.00126 4.80556L7.53834 1.10997Z"
                                    fill="#343839" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path
                                    d="M7.53834 1.10997C7.70914 0.699319 8.29086 0.699318 8.46166 1.10996L9.99874 4.80556C10.0707 4.97868 10.2336 5.09696 10.4204 5.11194L14.4102 5.4318C14.8535 5.46734 15.0332 6.02059 14.6955 6.30993L11.6557 8.91378C11.5133 9.03576 11.4512 9.22715 11.4947 9.40952L12.4234 13.3028C12.5265 13.7354 12.0559 14.0773 11.6764 13.8455L8.26063 11.7592C8.10062 11.6615 7.89938 11.6615 7.73937 11.7592L4.32363 13.8455C3.94408 14.0773 3.47345 13.7354 3.57665 13.3028L4.50534 9.40952C4.54884 9.22715 4.48665 9.03576 4.34426 8.91378L1.30453 6.30993C0.966758 6.02059 1.14652 5.46734 1.58985 5.4318L5.57955 5.11194C5.76645 5.09696 5.92925 4.97868 6.00126 4.80556L7.53834 1.10997Z"
                                    fill="#343839" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path
                                    d="M7.53834 1.10997C7.70914 0.699319 8.29086 0.699318 8.46166 1.10996L9.99874 4.80556C10.0707 4.97868 10.2336 5.09696 10.4204 5.11194L14.4102 5.4318C14.8535 5.46734 15.0332 6.02059 14.6955 6.30993L11.6557 8.91378C11.5133 9.03576 11.4512 9.22715 11.4947 9.40952L12.4234 13.3028C12.5265 13.7354 12.0559 14.0773 11.6764 13.8455L8.26063 11.7592C8.10062 11.6615 7.89938 11.6615 7.73937 11.7592L4.32363 13.8455C3.94408 14.0773 3.47345 13.7354 3.57665 13.3028L4.50534 9.40952C4.54884 9.22715 4.48665 9.03576 4.34426 8.91378L1.30453 6.30993C0.966758 6.02059 1.14652 5.46734 1.58985 5.4318L5.57955 5.11194C5.76645 5.09696 5.92925 4.97868 6.00126 4.80556L7.53834 1.10997Z"
                                    fill="#343839" />
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                                fill="none">
                                <path
                                    d="M7.53834 1.10997C7.70914 0.699319 8.29086 0.699318 8.46166 1.10996L9.99874 4.80556C10.0707 4.97868 10.2336 5.09696 10.4204 5.11194L14.4102 5.4318C14.8535 5.46734 15.0332 6.02059 14.6955 6.30993L11.6557 8.91378C11.5133 9.03576 11.4512 9.22715 11.4947 9.40952L12.4234 13.3028C12.5265 13.7354 12.0559 14.0773 11.6764 13.8455L8.26063 11.7592C8.10062 11.6615 7.89938 11.6615 7.73937 11.7592L4.32363 13.8455C3.94408 14.0773 3.47345 13.7354 3.57665 13.3028L4.50534 9.40952C4.54884 9.22715 4.48665 9.03576 4.34426 8.91378L1.30453 6.30993C0.966758 6.02059 1.14652 5.46734 1.58985 5.4318L5.57955 5.11194C5.76645 5.09696 5.92925 4.97868 6.00126 4.80556L7.53834 1.10997Z"
                                    fill="#343839" />
                            </svg>
                        </div>

                        <p th:text="${product.name}" class="font-[600] my-1 leading-6"></p>
                        <div class="flex gap-3">
                            <p th:text="'$' + ${#numbers.formatDecimal(product.price, 1, 2)}" class="font-[600]"></p>
                            <p class="text-[#6C7275] line-through">$500.00</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex gap-6 w-full px-[85px] py-[80px]">
            <div class="bg-[#F3F5F7] h-[220px] w-1/4 py-12 px-8">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <path
                            d="M28 38V14M28 38H32M28 38H18M28 14C28 9.58172 24.4183 6 20 6H12C7.58172 6 4 9.58172 4 14V30C4 33.7304 6.55333 36.8645 10.0077 37.7499M28 14H34.4182C35.4344 14 36.4126 14.3868 37.154 15.0819L42.7358 20.3148C43.5424 21.071 44 22.1273 44 23.2329V34C44 36.2091 42.2091 38 40 38M40 38C40 40.2091 38.2091 42 36 42C33.7909 42 32 40.2091 32 38M40 38C40 35.7909 38.2091 34 36 34C33.7909 34 32 35.7909 32 38M18 38C18 40.2091 16.2091 42 14 42C11.7909 42 10 40.2091 10 38C10 37.916 10.0026 37.8326 10.0077 37.7499M18 38C18 35.7909 16.2091 34 14 34C11.8748 34 10.1368 35.6573 10.0077 37.7499"
                            stroke="#141718" strokeWidth="2.5" />
                        <path d="M20 16H16" stroke="#141718" strokeWidth="2.5" strokeLinecap="round"
                            strokeLinejoin="round" />
                        <path d="M20 24H12" stroke="#141718" strokeWidth="2.5" strokeLinecap="round"
                            strokeLinejoin="round" />
                    </svg>
                </div>
                <h3 class="text-xl mt-4 mb-2">Free Shipping</h3>
                <p class="text-sm font-normal text-[#6C7275]">Order above $200</p>
            </div>
            <div class="bg-[#F3F5F7] h-[220px] w-1/4 py-12 px-8">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <rect x="4" y="8" width="40" height="32" rx="4" stroke="#141718" strokeWidth="2.5" />
                        <circle cx="4" cy="4" r="4" transform="matrix(1 0 0 -1 20 28)" stroke="#141718"
                            strokeWidth="2.5" />
                        <circle cx="2" cy="2" r="2" transform="matrix(1 0 0 -1 34 26)" fill="#141718" />
                        <circle cx="2" cy="2" r="2" transform="matrix(1 0 0 -1 10 26)" fill="#141718" />
                    </svg>
                </div>
                <h3 class="text-xl mt-4 mb-2">Money-back</h3>
                <p class="text-sm font-normal text-[#6C7275]">30 days guarantee</p>
            </div>
            <div class="bg-[#F3F5F7] h-[220px] w-1/4 py-12 px-8">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <path
                            d="M32 16H16M32 16C36.4183 16 40 19.5817 40 24V36C40 40.4183 36.4183 44 32 44H16C11.5817 44 8 40.4183 8 36V24C8 19.5817 11.5817 16 16 16M32 16V12C32 7.58172 28.4183 4 24 4C19.5817 4 16 7.58172 16 12V16M24 32V28"
                            stroke="#141718" strokeWidth="2.5" strokeLinecap="round" />
                    </svg>
                </div>
                <h3 class="text-xl mt-4 mb-2">Secure Payments</h3>
                <p class="text-sm font-normal text-[#6C7275]">Secured by Stripe</p>
            </div>
            <div class="bg-[#F3F5F7] h-[220px] w-1/4 py-12 px-8">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <path
                            d="M42 38V34.7081C42 33.0725 41.0042 31.6017 39.4856 30.9942L35.4173 29.3669C33.4857 28.5943 31.2844 29.4312 30.354 31.292L30 32C30 32 25 31 21 27C17 23 16 18 16 18L16.708 17.646C18.5688 16.7156 19.4057 14.5143 18.6331 12.5827L17.0058 8.51444C16.3983 6.99581 14.9275 6 13.2919 6H10C7.79086 6 6 7.79086 6 10C6 27.6731 20.3269 42 38 42C40.2091 42 42 40.2091 42 38Z"
                            stroke="#141718" strokeWidth="2.5" strokeLinejoin="round" />
                    </svg>
                </div>
                <h3 class="text-xl mt-4 mb-2">24/7 Support</h3>
                <p class="text-sm font-normal text-[#6C7275]">Phone and Email support</p>
            </div>
        </div>


        <script>
            let activeSlide = 0;
            const slideCount = 3;
            const slider = document.getElementById("slider");
            const dots = document.querySelectorAll(".dot");

            function updateSlider() {
                slider.style.transform = `translateX(-${activeSlide * 100}%)`;
                dots.forEach((dot, index) => {
                    dot.classList.toggle("bg-white", index === activeSlide);
                });
            }

            function nextSlide() {
                activeSlide = (activeSlide + 1) % slideCount;
                updateSlider();
            }

            function prevSlide() {
                activeSlide = (activeSlide - 1 + slideCount) % slideCount;
                updateSlider();
            }

            function setSlide(index) {
                activeSlide = index;
                updateSlider();
            }
        </script>
</body>
<script src="https://cdn.tailwindcss.com"></script>

</html>