<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="flex w-full">
        <div class="relative w-1/2 h-full min-h-screen overflow-hidden">
            <img th:src="@{/images/FurnitureDark.svg}" alt="Logo"
                class="absolute z-10 left-1/2 -translate-x-1/2 w-[120px] h-auto" />
            <img class="w-full h-full scale-110 translate-x-[100px] translate-y-[100px] object-cover"
                th:src="@{/images/auth-image.png}"    
            alt="" />
        </div>
        <div class="w-1/2 bg-[#F3F5F7] pl-[90px] pt-[120px] pr-[160px]">
            <h1 class="text-[40px] mb-6">Sign In</h1>
            <p class="text-[#6C7275] mb-8">Don’t have an accout yet? <a th:href="@{/register}"
                    class="text-[#38CB89]">Sign Up</a></p>
            <form class="flex flex-col gap-8" th:action="@{/login}" method="post">
                <div class="">
                    <input type="text" id="create-account-username" class="w-full h-10 py-2 pl-4 border border-[#6C7275] rounded-lg text-[#6C7275]
                                focus:outline-none focus:text-black" name="username"
                        placeholder="Your usernam or email address" required>
                </div>
                <div class="">
                    <input type="password" id="create-account-password" name="password" class="w-full h-10 py-2 pl-4 border border-[#6C7275] rounded-lg text-[#6C7275]
                                focus:outline-none focus:text-black" placeholder="Password" required>
                </div>
                <div th:if="${param.error}">
                    <p class="text-red-500">Invalid username or password</p>
                </div>
                <div th:if="${param.logout}">
                    <p class="success">You have been logged out</p>
                </div>
                <div class="flex justify-between items-center">
                    <p class="flex items-center text-[#6C7275]"><input class="w-6 h-6 mr-3" type="checkbox" name=""
                            id="" /> Remember me</p>
                    <a>Forgot password?</a>
                </div>
                <button type="submit"
                    class="h-12 py-2 px-4 bg-black hover:bg-gray-500 text-white w-full transition text-center text-base font-semibold shadow-md rounded-lg cursor-pointer">
                    Log In
                </button>
            </form>
        </div>
    </div>
</body>
<!-- <script src="https://unpkg.com/@tailwindcss/browser@4"></script> -->
<script src="https://cdn.tailwindcss.com"></script>

</html>